/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

:root {
    --top-heigth: 112px
}

.debug {
    background-color: rgb(137, 138, 138);

    & *{
        border: 1px dotted black;
    }

    .top {
        background-color: rgb(185, 67, 201);
    }

    .bottom {
        background-color: rgb(56, 225, 96);
    }

    .left {
        background-color: aqua;
    }

    .rigth {
        background-color: chocolate;
    }
}
/* #endregion Utilities */


/* #region Gerelas Rules */

.container {
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}
/* #endregion Gerelas Rules */


.top {
    height: var(--top-heigth);
}

 .nav-menu{
        justify-content: space-between;
    }

.bottom {
    height: calc(100% - var(--top-heigth));
    display: flex;

    .left {
        width: 65%;
        overflow-y: auto;
    }

    .rigth {
        width: 35%;
    }

    .album-card {
        width: calc(100% / 4);
    }


}
